<h1 class="text-center">UNA'S BARBER SHOP</h1>
<p class="lead">LOOK GOOD FEEL GOOD</p>

<div class="row">
  <div class="col-md-6">
    <ul>
      <h5>Barber Shop Hours</h5>
      <li class="lead">Monday - Saturday</li>
      <li class="lead">9AM - 6PM</li>
      <em>First Come First Serve</em>

    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <h5>Scheduling Appointments</h5>
      <li class="lead">Tuesdays & Wednesdays</li>
      <li class="lead">9AM - 1PM</li>
      <li class="btn btn-default">Schedul an Appoiment</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <ul>
      <h5>Shop Location</h5>
      <li class="lead">1015 South State St Suite A</li>
      <li class="lead">Orem, Utah 84097</li>
      <li class="btn btn-default">Google Maps That Shit</li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <h5>Barber Shop Contact Information</h5>
      <li class="lead">Phone</li>
      <li class="lead">801-607-1072</li>
      <li class="lead">Email</li>
      <li class="lead">unasbarbershop@hotmail.com</li>
    </ul>
  </div>
</div>
