<div class="row">
  <div class="col-md-6">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Cuts and Prices
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <ul>
              <li>Luxury Package $60</li>
              <li>Hair Cut $20</li>
              <li>Design $10 and Up</li>
              <li>Line Up $10</li>
              <li>Beard Trim and Detail $13</li>
              <li>Hot Towel Shave $30</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Products
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            <ul>
              <li>SuaVecito $10</li>
              <li>Gentlemen Rupublic $10</li>
              <li>Molding Gel $10</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Times
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            <ul>
              <li>Closed Monday and Sunday</li>
              <li>Tuesday - Wedensday 9-5</li>
              <li>Thurseday - Friday 9-6</li>
              <li>Satuday 9-5</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="col-md-6">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
<!-- Indicators -->
<ol class="carousel-indicators">
  <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
  <li data-target="#carousel-example-generic" data-slide-to="1"></li>
  <li data-target="#carousel-example-generic" data-slide-to="2"></li>
</ol>

<!-- Wrapper for slides -->
<div class="carousel-inner" role="listbox">
  <div class="item active">
    <%= link_to image_tag("unas_barber_shop_product3.jpg", :class => "slide_show") %>
    <div class="carousel-caption">

    </div>
  </div>
      <div class="item">
        <%= link_to image_tag("unas_barber_shop_productmax.jpg", :class => "slide_show") %>
        <div class="carousel-caption">
        </div>
      </div>
        <div class="item">
          <%= link_to image_tag("unas_barber_shop_product.jpg", :class => "slide_show") %>
          <div class="carousel-caption">
          </div>
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
</div>
