<div class="row">
  <div class="col-md-6">
    <ul>
      <h1 class="lead">Schedule Appointment</h1>
      <li>Tuesdays &amp; Wednesdays: 9:00 am - 1:00 pm</li>
    </ul>
  </div>
  <div class="col-md-6">
    <%= link_to image_tag("unas_barber_shop_schedule.jpg", :class => "main_page") %>
  </div>
</div>
