<h1 class="sch_app">Select your Barber</h1>
<p>
  Appointments are on Tuesdays and Wednesdays from 1-5
</p>

<div class="row">
  <div class="col-md-3">
    <%= link_to image_tag("unas_barber_shop_sch.jpg", :class => "slide_show") %>
    <h2>Una</h2>
  </div>
  <div class="col-md-3">
    <%= link_to image_tag("unas_barber_shop_barber2.jpg", :class => "slide_show") %>
    <h2>Kris Mua</h2>
  </div>
</div>
