<h1 class="sch_app">Select your Barber</h1>


<div class="row">
  <div class="col-md-3">
    <%= link_to image_tag("unas_barber_shop_sch.jpg", :class => "slide_show") %>
  </div>
  <div class="col-md-3">
    <%= link_to image_tag("unas_barber_shop_barber2.jpg", :class => "slide_show") %>
  </div>
</div>
