<div class="row">
  <div class="sch_app">
    <div class="col-md-3">
      <%= link_to image_tag("unas_barber_shop_sch.jpg", :class => "slide_show") %>
    </div>
    <div class="col-md-6">
      <h2>Una</h2>
      <p>
        Una Joe Jr. was taught the art of traditional barbering at the age of 15 by his father Joe Sr. As the third generation of licensed barbers in his family Joe Jr. is proud to work next to his father and keep the shop a simple, traditional barbershop..
      </p>
    </div>
    <div class="col-md-3">
      <h3>Schedule</h3>
      <ul>
        <li>Tuesdays 9am - 1pm</li>
        <li>Wednesdays 9am - 1pm</li>
      </ul>
    </div>
  </div>
</div>


  <div class="row">
    <div class="sch_app">
      <div class="col-md-3">
        <%= link_to image_tag("unas_barber_shop_barber2.jpg", :class => "slide_show") %>
      </div>
      <div class="col-md-6">
        <h2>Kris Mua</h2>
        <p>
          Una Joe Jr. was taught the art of traditional barbering at the age of 15 by his father Joe Sr. As the third generation of licensed barbers in his family Joe Jr. is proud to work next to his father and keep the shop a simple, traditional barbershop..
        </p>
      </div>
      <div class="col-md-3">
        <h3>Schedule</h3>
        <ul>
          <li>Tuesdays 9am - 1pm</li>
          <li>Wednesdays 9am - 1pm</li>
        </ul>
      </div>
    </div>
  </div>
