@import 'bootstrap';

body {
  background-color: white;
}

nav.navbar.navbar-inverse {
  margin-bottom: 0px;
  padding-bottom: 15px;
}

ul.nav.navbar-nav li a {
  color: white;
}

ul.nav.navbar-nav li {
  margin-left: 25px;
  padding-top: 14px;
  font-size: 19px;
}

ul.nav.navbar-nav.navbar-right {
  padding-right: 48px;
  padding-top: 15px;
}

div.container {
  background-color: #525252;
  max-width: 75%;
  border-radius: 2px;
}

.slides_container div {
  width:470px;
  height:470px;
  display:block;
}

div#carousel-example-generic.carousel.slide {
  box-shadow: 0px 12px 18px black;
}

div.col-md-6 {
  padding-right: 48px;
  padding-left: 48px;
  padding-top: 40px;
}

img.img_header {
  max-width: 100%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
}

img.slide_show {
  max-width: 96%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;

}

img.main_page {
  max-width: 96%;
  border-radius: 5px;
  box-shadow: 0px 0px 10px black;
  margin: 10px;
  margin-bottom: 20px;
}

img.facebook_icon {
  max-width: 13%;
  margin: 10px;
  border-radius: 10px;
  float: right;
}

p.lead {
  padding: 50px;
  padding-top: 10px;
  font-size: 17px;
  text-align: justify;
  color: #D1D1D1;
}

h1.text-center {
  font-family: "Lucida Grande";
  font-size: 3em;
  color: white;
  border-top: 10px solid red;
  border-bottom: 10px solid red;
  padding-top: 10px;
  padding-bottom: 10px;
}


h1 {
  font-family: "Lucida Grande";
  font-size: 27px;
  text-align: center;
  color: white;
  padding-top: 65px;

}

ul li {
  color: #D1D1D1;
  font-size: 17px;
  margin-left: 80px;
}

footer {
  font-family: "Lucida Grande";
  background-color: #333333;
  text-align: center;
  padding: 10px;
  margin-top: 15px;
  border-radius: 2px;
  color: white;
}
